*{
    margin:0;
    padding:0;

}
body{
    background-color: #222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.crud{
    width: 80%;
    margin:auto;
    max-width: 1300px;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    margin: 4px 0;
    padding: 4px;
    border-radius: 5px;
    background: #111;
    color: white;
    text-transform: capitalize;
}
input:focus{
    background: #000;
    transform: scale(1.1);
    transition: background 0.2s ease-in-out;
}
.price input{
    width: 20%;
}
#total{
    padding: 5px 2px;
    border-radius: 5px;
    background: #a00d02;
}
#total::before{
    content: "Total";
}
button{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background: #333;
    color: white;
    cursor: pointer;
    margin: 5px;
}
button:hover{
    background: #444;
    letter-spacing: 1.5px;
    transition: all 0.5s ease;
}
.btnS{
    display: flex;
    justify-content: space-between;
}
.btnS button{
    width: 45%;
}
th {
    text-transform: uppercase;
    text-align: center; /* Выравнивание текста по центру */
    padding: 30px;
    border-bottom: 2px solid #444; /* Добавление разделителя для визуального эффекта */
}

td{
    text-align: center ;
}